In [56]:
import pandas as pd

df = pd.read_excel('C:\\Users\\Biswajit Palit\\Empirical-Project\\clustering.xlsx')

In [57]:
df.head()

                       Country  ... Unemployment, youth total (% of total labor force ages 15-24) (national estimate)
0                  Afghanistan  ...                                                NaN
1  Africa Eastern and Southern  ...                                                NaN
2   Africa Western and Central  ...                                                NaN
3                      Albania  ...                                                NaN
4                      Algeria  ...                                                NaN

[5 rows x 20 columns]

In [58]:
df.columns

Index(['Country', 'Country Code', 'Arable land', 'Crop production index',
       'Exports of goods and services (% of GDP)',
       'External balance on goods and services (% of GDP)',
       'Foreign direct investment, net inflows (% of GDP)',
       'GDP per capita (constant 2015 US$)',
       'GDP per capita growth (annual %)',
       'GNI per capita, PPP (current international $)',
       'Gross domestic savings (% of GDP)',
       'Imports of goods and services (annual % growth)',
       'Industry (including construction), value added (% of GDP)',
       'International tourism, receipts (% of total exports)',
       'Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)',
       'Net ODA received (% of GNI)', 'Population ages 15-64, total',
       'Population growth (annual %)',
       'Rural population (% of total population)',
       'Unemployment, youth total (% of total labor force ages 15-24) (national estimate)'],
      dtype='object')

In [59]:
data = pd.read_excel('C:\\Users\\Biswajit Palit\\Empirical-Project\\data_HDI.xlsx')
data.head()

  Country or Area ISO-3 Code       HDI
0     Afghanistan        AFG  0.290000
1   Åland Islands        ALA       NaN
2         Albania        ALB  0.626667
3         Algeria        DZA  0.598333
4  American Samoa        ASM       NaN

In [60]:
import pandas as pd

# Assuming your DataFrame is named df
# Rename 'ISO-3 Code' column to 'Country Code'
data.rename(columns={'ISO-3 Code': 'Country Code'}, inplace=True)

# Now df will have the column 'ISO-3 Code' renamed to 'Country Code'

In [61]:
merged_df = pd.merge(df, data, on=['Country Code'], how='inner')

In [65]:
merged_df = merged_df.drop('Country or Area', axis = 1)

In [63]:
# Calculate the percentage of missing data for each country
missing_percentage = merged_df.isnull().mean(axis=1) * 100

# Assign weights based on missing percentage
weights = 100 - missing_percentage

# Add the weights as a new column in the dataset
merged_df['Weight'] = weights

In [84]:
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Select the columns you want to standardize
cols_for_standardization = merged_df.columns[2:-1]  # Exclude non-numeric columns and 'Weight', 'Country', and 'Country Code'

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to your selected columns and then transform them
standardized_data = scaler.fit_transform(merged_df[cols_for_standardization])

# Create a dataframe from the standardized data
standardized_df = pd.DataFrame(standardized_data, columns=cols_for_standardization)

# Keep the non-standardized columns in another dataframe
non_standardized_df = merged_df[['Country', 'Country Code', 'Weight']]

# Merge the standardized and non-standardized dataframes
merged_df = pd.concat([non_standardized_df, standardized_df], axis=1)

In [66]:
from sklearn.impute import KNNImputer

# Define the columns to be used for imputation (exclude 'Weight', 'Country', and 'Country Code')
cols_for_imputation = merged_df.columns[2:-1]  # Adjust the range as needed

# Initialize the KNNImputer with the desired number of neighbors (e.g., 5)
knn_imputer = KNNImputer(n_neighbors=5)

# Perform KNN imputation on the selected columns
merged_df[cols_for_imputation] = knn_imputer.fit_transform(merged_df[cols_for_imputation])

In [85]:
merged_df

                   Country Country Code  ...       HDI    Weight
0              Afghanistan          AFG  ... -2.287390 -1.928629
1                  Albania          ALB  ...  0.105460  0.607299
2                  Algeria          DZA  ... -0.095918  0.376760
3           American Samoa          ASM  ...  0.008325 -2.620246
4                  Andorra          AND  ...  0.008325 -1.928629
..                     ...          ...  ...       ...       ...
211  Virgin Islands (U.S.)          VIR  ...  0.067554 -2.389707
212     West Bank and Gaza          PSE  ...  0.048601  0.607299
213            Yemen, Rep.          YEM  ... -1.541105  0.607299
214                 Zambia          ZMB  ... -1.434493  0.376760
215               Zimbabwe          ZWE  ... -0.818511  0.607299

[216 rows x 23 columns]

In [125]:
from scipy.cluster.hierarchy import linkage, fcluster

# Select the columns for clustering (excluding non-numeric columns)
cols_for_clustering = merged_df.columns[2:-1]  # Exclude non-numeric columns and the 'Weight' column

# Perform hierarchical clustering with weighted data
linkage_matrix = linkage(merged_df[cols_for_clustering], metric='mahalanobis')

# Define a threshold for identifying outliers
outlier_threshold = 10  # You can adjust this threshold as needed

# Assign clusters based on the threshold
clusters = fcluster(linkage_matrix, t = outlier_threshold, criterion='distance')

# Add the cluster assignments as a new column in the dataset
merged_df['Cluster'] = clusters

# Now, 'df' contains the cluster assignments for each country, taking into account the weights

LinAlgError: Singular matrix

In [121]:
help(fcluster)

Help on function fcluster in module scipy.cluster.hierarchy:

fcluster(Z, t, criterion='inconsistent', depth=2, R=None, monocrit=None)
    Form flat clusters from the hierarchical clustering defined by
    the given linkage matrix.

    Parameters
    ----------
    Z : ndarray
        The hierarchical clustering encoded with the matrix returned
        by the `linkage` function.
    t : scalar
        For criteria 'inconsistent', 'distance' or 'monocrit',
         this is the threshold to apply when forming flat clusters.
        For 'maxclust' or 'maxclust_monocrit' criteria,
         this would be max number of clusters requested.
    criterion : str, optional
        The criterion to use in forming flat clusters. This can
        be any of the following values:

          ``inconsistent`` :
              If a cluster node and all its
              descendants have an inconsistent value less than or equal
              to `t`, then all its leaf descendants belong to the
              same flat cluster. When no non-singleton cluster meets
              this criterion, every node is assigned to its own
              cluster. (Default)

          ``distance`` :
              Forms flat clusters so that the original
              observations in each flat cluster have no greater a
              cophenetic distance than `t`.

          ``maxclust`` :
              Finds a minimum threshold ``r`` so that
              the cophenetic distance between any two original
              observations in the same flat cluster is no more than
              ``r`` and no more than `t` flat clusters are formed.

          ``monocrit`` :
              Forms a flat cluster from a cluster node c
              with index i when ``monocrit[j] <= t``.

              For example, to threshold on the maximum mean distance
              as computed in the inconsistency matrix R with a
              threshold of 0.8 do::

                  MR = maxRstat(Z, R, 3)
                  fcluster(Z, t=0.8, criterion='monocrit', monocrit=MR)

          ``maxclust_monocrit`` :
              Forms a flat cluster from a
              non-singleton cluster node ``c`` when ``monocrit[i] <=
              r`` for all cluster indices ``i`` below and including
              ``c``. ``r`` is minimized such that no more than ``t``
              flat clusters are formed. monocrit must be
              monotonic. For example, to minimize the threshold t on
              maximum inconsistency values so that no more than 3 flat
              clusters are formed, do::

                  MI = maxinconsts(Z, R)
                  fcluster(Z, t=3, criterion='maxclust_monocrit', monocrit=MI)
    depth : int, optional
        The maximum depth to perform the inconsistency calculation.
        It has no meaning for the other criteria. Default is 2.
    R : ndarray, optional
        The inconsistency matrix to use for the 'inconsistent'
        criterion. This matrix is computed if not provided.
    monocrit : ndarray, optional
        An array of length n-1. `monocrit[i]` is the
        statistics upon which non-singleton i is thresholded. The
        monocrit vector must be monotonic, i.e., given a node c with
        index i, for all node indices j corresponding to nodes
        below c, ``monocrit[i] >= monocrit[j]``.

    Returns
    -------
    fcluster : ndarray
        An array of length ``n``. ``T[i]`` is the flat cluster number to
        which original observation ``i`` belongs.

    See Also
    --------
    linkage : for information about hierarchical clustering methods work.

    Examples
    --------
    >>> from scipy.cluster.hierarchy import ward, fcluster
    >>> from scipy.spatial.distance import pdist

    All cluster linkage methods - e.g., `scipy.cluster.hierarchy.ward`
    generate a linkage matrix ``Z`` as their output:

    >>> X = [[0, 0], [0, 1], [1, 0],
    ...      [0, 4], [0, 3], [1, 4],
    ...      [4, 0], [3, 0], [4, 1],
    ...      [4, 4], [3, 4], [4, 3]]

    >>> Z = ward(pdist(X))

    >>> Z
    array([[ 0.        ,  1.        ,  1.        ,  2.        ],
           [ 3.        ,  4.        ,  1.        ,  2.        ],
           [ 6.        ,  7.        ,  1.        ,  2.        ],
           [ 9.        , 10.        ,  1.        ,  2.        ],
           [ 2.        , 12.        ,  1.29099445,  3.        ],
           [ 5.        , 13.        ,  1.29099445,  3.        ],
           [ 8.        , 14.        ,  1.29099445,  3.        ],
           [11.        , 15.        ,  1.29099445,  3.        ],
           [16.        , 17.        ,  5.77350269,  6.        ],
           [18.        , 19.        ,  5.77350269,  6.        ],
           [20.        , 21.        ,  8.16496581, 12.        ]])

    This matrix represents a dendrogram, where the first and second elements
    are the two clusters merged at each step, the third element is the
    distance between these clusters, and the fourth element is the size of
    the new cluster - the number of original data points included.

    `scipy.cluster.hierarchy.fcluster` can be used to flatten the
    dendrogram, obtaining as a result an assignation of the original data
    points to single clusters.

    This assignation mostly depends on a distance threshold ``t`` - the maximum
    inter-cluster distance allowed:

    >>> fcluster(Z, t=0.9, criterion='distance')
    array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int32)

    >>> fcluster(Z, t=1.1, criterion='distance')
    array([1, 1, 2, 3, 3, 4, 5, 5, 6, 7, 7, 8], dtype=int32)

    >>> fcluster(Z, t=3, criterion='distance')
    array([1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4], dtype=int32)

    >>> fcluster(Z, t=9, criterion='distance')
    array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int32)

    In the first case, the threshold ``t`` is too small to allow any two
    samples in the data to form a cluster, so 12 different clusters are
    returned.

    In the second case, the threshold is large enough to allow the first
    4 points to be merged with their nearest neighbors. So, here, only 8
    clusters are returned.

    The third case, with a much higher threshold, allows for up to 8 data
    points to be connected - so 4 clusters are returned here.

    Lastly, the threshold of the fourth case is large enough to allow for
    all data points to be merged together - so a single cluster is returned.

In [122]:
from collections import Counter

# Count the number of countries in each cluster
cluster_counts = Counter(merged_df['Cluster'])

# Identify clusters with fewer than 4 countries
small_clusters = [cluster for cluster, count in cluster_counts.items() if count < 4]

# Print the 'Country Code' values of rows in small clusters before dropping
for cluster in small_clusters:
    country_codes_to_drop = merged_df[merged_df['Cluster'] == cluster]['Country Code'].tolist()
    print(f"Country Codes in Cluster {cluster} to be dropped: {', '.join(country_codes_to_drop)}")

Country Codes in Cluster 7 to be dropped: AFG, AND, IMN
Country Codes in Cluster 23 to be dropped: ARM, ERI, GEO
Country Codes in Cluster 4 to be dropped: BMU, FRO
Country Codes in Cluster 21 to be dropped: BIH
Country Codes in Cluster 25 to be dropped: CHN
Country Codes in Cluster 5 to be dropped: DJI, PLW
Country Codes in Cluster 16 to be dropped: GNQ
Country Codes in Cluster 28 to be dropped: IND
Country Codes in Cluster 9 to be dropped: LIE
Country Codes in Cluster 6 to be dropped: STP, TUV
Country Codes in Cluster 14 to be dropped: KNA
Country Codes in Cluster 18 to be dropped: TLS
Country Codes in Cluster 15 to be dropped: ARE

In [123]:
merged_df

                   Country Country Code     Weight  ...       HDI    Weight  Cluster
0              Afghanistan          AFG  45.454545  ... -2.287390 -1.928629        7
1                  Albania          ALB  95.454545  ...  0.105460  0.607299       32
2                  Algeria          DZA  90.909091  ... -0.095918  0.376760       22
3           American Samoa          ASM  31.818182  ...  0.008325 -2.620246        3
4                  Andorra          AND  45.454545  ...  0.008325 -1.928629        7
..                     ...          ...        ...  ...       ...       ...      ...
211  Virgin Islands (U.S.)          VIR  36.363636  ...  0.067554 -2.389707        2
212     West Bank and Gaza          PSE  95.454545  ...  0.048601  0.607299       30
213            Yemen, Rep.          YEM  95.454545  ... -1.541105  0.607299       30
214                 Zambia          ZMB  90.909091  ... -1.434493  0.376760       24
215               Zimbabwe          ZWE  95.454545  ... -0.818511  0.607299       30

[216 rows x 24 columns]

In [80]:
# Drop countries belonging to small clusters
df = merged_df[~merged_df['Cluster'].isin(small_clusters)]

# Remove the 'Cluster' column, if no longer needed
df.drop(columns=['Cluster'], inplace=True)

C:\Users\Biswajit Palit\AppData\Local\Temp\ipykernel_17236\501094717.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['Cluster'], inplace=True)

In [81]:
df.head()

Empty DataFrame
Columns: [Country, Country Code, Arable land, Crop production index, Exports of goods and services (% of GDP), External balance on goods and services (% of GDP), Foreign direct investment, net inflows (% of GDP), GDP per capita (constant 2015 US$), GDP per capita growth (annual %), GNI per capita, PPP (current international $), Gross domestic savings (% of GDP), Imports of goods and services (annual % growth), Industry (including construction), value added (% of GDP), International tourism, receipts (% of total exports), Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate), Net ODA received (% of GNI), Population ages 15-64, total, Population growth (annual %), Rural population (% of total population), Unemployment, youth total (% of total labor force ages 15-24) (national estimate), HDI, Weight]
Index: []